<header class="header">
  <div></div>
  <div class="header__search">
    <input type="text" class="header__input" placeholder="O que você está buscando?">
    <img class="header__image" src="assets/icons/header/search.svg" alt="search">
  </div>
  <div class="header__buttons">
    <img class="header__image" src="assets/icons/header/book.svg" alt="book">
    <img class="header__image" src="assets/icons/header/gear.svg" alt="gear">
    <div class="header__notification">
      <img class="header__image" src="assets/icons/header/bell.svg" alt="bell">
      <div class="header__notification-sign"></div>
    </div>
    <img class="header__image header__image--profile" src="assets/icons/header/profile_image.png" alt="profile_image">
    <span class="header__profile-name">Ana</span>
    <img class="header__image header__image--large" src="assets/icons/header/down_arrow.svg" alt="down_arrow">
  </div>
</header>
