.header {
  height: 100%;
  padding: 0 1.5rem;

  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.header__search {
  width: 20%;
  padding: 0.6rem 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  border-radius: 1rem;
  background-color: var(--alice-blue);
}


