.header {
  height: 100%;
  padding: 0 1.5rem;

  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.header__search {
  width: 20%;
  padding: 0.6rem 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  border-radius: 1rem;
  background-color: var(--alice-blue);
}

.header__input {
  flex-grow: 1;
  border: none;
  background-color: var(--alice-blue);
}

.header__input::placeholder {
  color: var(--gull-gray);
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header__image {
  width: 1.5rem;
}

.header__notification {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__notification-sign {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 10px;
  height: 10px;

  border-radius: 2rem;
  background-color: var(--royal-blue);
}

.header__image--profile {
  width: 2.5rem;

  border-radius: 2rem;
  background-color: var(--perfume);
}

.header__profile-name {
  font-weight: 500;
}

