.grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 100px 1fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

app-header {
  grid-area: header;
}

app-main {
  grid-area: main;
}

app-sidebar {
  grid-area: sidebar;
}