<nav class="sidebar-container">
  <div class="sidebar">
    <div class="sidebar__button sidebar__button--larger">
      <img class="sidebar__image sidebar__image--larger" src="assets/icons/sidebar/right_arrow.svg" alt="right_arrow">
    </div>
    <div class="sidebar__button">
      <img class="sidebar__image" src="assets/icons/sidebar/house.svg" alt="house">
    </div>
    <div class="sidebar__button">
      <img class="sidebar__image" src="assets/icons/sidebar/message.svg" alt="message">
    </div>
    <div class="sidebar__button">
      <img class="sidebar__image" src="assets/icons/sidebar/user.svg" alt="user">
    </div>
    <div class="sidebar__button">
      <img class="sidebar__image" src="assets/icons/sidebar/switch.svg" alt="switch">
    </div>
    <div class="sidebar__button">
      <img class="sidebar__image" src="assets/icons/sidebar/brain.svg" alt="brain">
    </div>
    <div class="sidebar__button">
      <img class="sidebar__image" src="assets/icons/sidebar/chart.svg" alt="chart">
    </div>
  </div>
</nav>
