.sidebar-container {
  height: 100%;
  box-shadow: rgba(27, 31, 35, 0.04) 1px 0px 0px;
}

.sidebar {
  height: 70%;

  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sidebar__image {
  width: 1.5rem;
  flex-grow: 1;
  cursor: pointer;
}

.sidebar__image--larger {
  width: 2rem;
  flex-grow: 3;
}