.sidebar {
  height: 70%;

  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sidebar__image {
  width: 1.5rem;
  flex-grow: 1;
}

.sidebar__image--larger {
  width: 2rem;
  flex-grow: 3;
}