<nav class="sidebar-container">
  <div class="sidebar">
    <img class="sidebar__image sidebar__image--larger" src="assets/icons/sidebar/right_arrow.svg" alt="right_arrow">
    <img class="sidebar__image" src="assets/icons/sidebar/house.svg" alt="house">
    <img class="sidebar__image" src="assets/icons/sidebar/message.svg" alt="message">
    <img class="sidebar__image" src="assets/icons/sidebar/user.svg" alt="user">
    <img class="sidebar__image" src="assets/icons/sidebar/switch.svg" alt="switch">
    <img class="sidebar__image" src="assets/icons/sidebar/brain.svg" alt="brain">
    <img class="sidebar__image" src="assets/icons/sidebar/chart.svg" alt="chart">
  </div>
</nav>
