/* You can add global styles to this file, and also import other style files */
:root {
  --alice-blue: #F7FBFF;
  --gull-gray: #98a5b9;
  --perfume: #dcd3fb;
  --royal-blue: #5047ed;
  --aqua-haze: #f6f8fa;
  --catskill-white: #F9FAFC;
  --white: #fff;
  --athens-gray: #eaeaee;
  --malibu: #6691ff;
  --waterloo: #767394;
  --granny-apple: #ecfbeb;
  --acapulco: #84be9a;
  --bianca: #fbfbf0;
  --brandy: #ddcf95;
  --linen: #FBE9E9;
  --japonica: #d96e6c;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
}
html, body { height: 100%; }
