/* You can add global styles to this file, and also import other style files */
:root {
  --alice-blue: #F7FBFF;
  --gull-gray: #98a5b9;
  --perfume: #dcd3fb;
  --royal-blue: #5047ed;
  --aqua-haze: #f6f8fa;
  --catskill-white: #F9FAFC;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

img {
  max-width: 100%;
}
html, body { height: 100%; }
